.idea
.tempest
log/
node_modules/
vendor/

/public/main.css
/public/build/
/public/vite-tempest
/package-lock.json
/.php-cs-fixer.cache

tmp/database/*
tmp/storage/*

.env
.phpunit.result.cache
*.local.config.php
*.dev.config.php
